---
import Layout from "../layouts/Layout.astro";
import HeroMassage from "../components/HeroOther.astro";
import ContactezMoi from "../widgets/ButtonOrangeRed.astro";
import RightOrangeFoliageSB from "../widgets/RightOrangeFoliagesb.astro";
---

<Layout>
  <div class="mt-16">
    <HeroMassage titre="A PROPOS" />
  </div>
  <section class="first-content">
    <div style="flex:0.5;">
      <div class="imgfirstcontent firstimg">
        <img src="/assets/index/asiatapropos.png" width="100%" />
      </div>
    </div>

    <div style="flex:0.5">
      <div class="comment">
        <div class="head">HYPNOSE</div>
        <p>
          Avant d’être une thérapie, l’expérience hypnotique est un état naturel que nous connaissons
          tous pendant la lecture d’un livre ou devant un film par exemple. À ce moment-là, notre
          attention est captée et nous sommes « hypnotisés » car nous perdons la notion du temps et
          de l&#39;espace. C’est souvent un état très agréable qui laisse la place à l’imagination.
        </p>
        <p>
          En séance, nous allons recréer en toute sécurité cet état de conscience modifié (état de
          « transe ») afin de donner libre court à l’imagination et accéder à vos ressources inconscientes
        </p>
        <p>
          Une part de vous reste conscient(e) pendant toute la séance pendant qu’une autre part de
vous entre dans le voyage hypnotique. L’hypnose s’apprend. Au fur et à mesure des séances,
vous serez à même de vous libérer de certains conditionnements pour retrouver plus de
liberté et d&#39;autonomie.
        </p>
      </div>
      <div class="btncontact">
        <ContactezMoi>CONTACTEZ-MOI</ContactezMoi>
      </div>
    </div>
  </section>

  <div class="citation">
    « Nous ne ressentons pas assez et pensons trop. » Charlie Chaplin
  </div>

  <section class="first-content deuxieme">
    <div style="flex:0.5;">
      <div class="imgfirstcontent sndimg">
        <img src="/assets/index/orangeblobplume.png" width="100%" />
      </div>
    </div>
    <div style="flex:0.5">
      <div class="comment">
        <div class="head">SOINS ÉNERGÉTIQUES</div>
        <p>
          Les soins énergétiques s'adressent à tous ceux qui acceptent que notre
          être est plus vaste que notre corps physique.
        </p>
        <p>
          Les émotions, les mots, les pensées, nos actes créent de l'énergie.
          Par exemple, une émotion non accueillie peut aboutir à un déséquilibre
          énergétique et créer des blocages, des peurs ou des douleurs.
        </p>
        <p>
          Un corps en bonne santé est donc un corps où les énergies circulent
          harmonieusement. Je combine tous mes outils (Reiki, Theta Healing,
          soins Eloha) pour harmoniser vos énergies, vos corps subtils et
          chakras.
        </p>
        <p>
          Rapidement les soins procurent un grand bien-être général. Les
          douleurs s’estompent et votre esprit s’apaise parfois dès la première
          séance. Vous pouvez venir dès que survient un mal-être ou bien de
          manière préventive et régulière.
        </p>
      </div>
      <div class="btncontact" style="height:5rem">
        <ContactezMoi>CONTACTEZ-MOI</ContactezMoi>
      </div>
    </div>
  </section>
</Layout>
<style>

  p {
    text-align: justify;
    word-spacing: -2px;
  
  }

  .citation {
    font-size: 1.5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    font-weight: 400;
    color: #2c2c5f;
    position: relative;
    font-style: italic;
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .first-content {
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-top: 3rem;
  }

  .first-content .comment {
    font-size: 1.1rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    font-weight: 400;
    color: #2c2c5f;
    margin-right: 2rem;
    position: relative;
    top: 3rem;
  }

  .second-content .comment {
    font-size: 1.1rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    font-weight: 400;
    color: #2c2c5f;
    margin-right: 2rem;
    position: relative;
    top: 3rem;
    padding-right: 1rem;
  }

  .second-content .btncontact {
    width: 150px;
    margin-top: 6rem;
  }

  .comment > p {
    max-width: 720px;
    margin-bottom: 1rem;
  }

  .head {
    font-family: "Segoe UI";
    font-style: normal;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 24px;
    letter-spacing: 0.2rem;
  }

  .comment p:nth-child(3) {
    margin-top: 1rem;
  }

  .wrapimgsecondcontent {
    display: flex;
    justify-content: space-around;
  }

  .second-content {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -3rem;
  }

  .petipasblue {
    position: absolute;
    top: 60%;
    left: 15rem;
    transform: scale(0.75);
  }

  .imgfirstcontent {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 320px;
  }

  .btncontact {
    width: 150px;
    margin-top: 6rem;
  }

  @media screen and (width <= 430px) {
    .btncontact {
      width: 100%;
      margin-top: 0rem;
    }

    .foliage {
      display: none;
    }

    .first-content {
      display: block;
      position: relative;
      top: -5rem;
    }
    .first-content .comment {
      margin: 0 auto;
      max-width: 85%;
      position: relative;
      top: -0.5rem;
    }
    .first-content .head {
      text-align: center;
    }

    .second-content {
      display: flex;
      flex-direction: column-reverse;
    }

    .second-content .wrapimgsecondcontent {
      max-width: 320px;
      margin: 0 auto;
    }

    .second-content .head {
      text-align: center;
    }

    .second-content .btncontact {
      padding-right: 3rem;
      padding-left: 3rem;
      width: 100%;
      position: relative;
      right: 1rem;
    }
  }

  @media screen and (width > 430px) and (width <= 960px) {
    .first-content {
      display: block;
      position: relative;
      top: -5rem;
    }
    .first-content .head {
      text-align: center;
    }

    .first-content .comment {
      margin: 0 auto;
      max-width: 75%;
      position: relative;
      top: 0.5rem;
    }

    .imgfirstcontent {
      position: relative;
      top: 1rem;
    }

    .btncontact {
      width: auto;
      margin-top: 3rem;
    }

    .foliage {
      height: 0rem;
      position: relative;
      top: -9rem;
      left: 2rem;
      width: 94%;
      transform: scale(0.95);
    }

    .deuxieme {
      margin-top: 0rem !important;
      background-color: transparent;
      z-index: -1;
    }
  }

  @media screen and (width > 960px) {
    .first-content {
      display: flex;
      gap: 0rem;
      margin-top: 0px;
    }
    .first-content .comment {
      position: relative;
      top: -2rem;
      padding-right: 1rem;
    }

    .first-content .btncontact {
      margin-top: 0;
    }

    .firstimg {
      margin-top: 2rem;
    }

    .sndimg {
      margin-top: 2rem;
    }

    .deuxieme {
      margin-top: -3rem;
    }

    .deuxieme .comment {
      position: relative;
      top: -2rem;
    }
  }
</style>

<script>
  (function styleLink() {
    let link = document.querySelector("[data-name='apropos']") as HTMLElement;
    link.setAttribute(
      "style",
      `
         text-decoration: orangered;
         cursor: pointer;
         color:black;
         text-decoration-line: underline;
         text-underline-offset: 5px;
         text-decoration-thickness: 0.2rem; 
         user-select: none;`
    );
  })();

  (function () {
    const image = document.getElementById("imgwitness");
    const foliage = image?.querySelector("img");
    if (foliage) {
      foliage.style.display = "block";
      foliage.style.position = "relative";
      foliage.style.top = "100px";
    }
  })();
</script>
