---
import Layout from "../layouts/Layout.astro";
---

<Layout>
   <div class="flex flex-row justify-around gap-2">
      <div class="bg-slate-50 w-full">
         <img src="/assets/border.webp" alt="Astro">
      </div>
      <div class="bg-slate-50 w-full">
         <img src="/assets/border.webp" alt="Astro">
      </div>
   </div>
</Layout>