---
import Layout from "../layouts/Layout.astro";
---

<Layout>
   <div class="flex flex-row justify-around gap-2">
      <div class="bg-slate-50 w-full">
         <img src="/assets/border.webp" alt="Astro">
      </div>
      <div class="bg-slate-50 w-full">
         <img src="/assets/border.webp" alt="Astro">
      </div>
   </div>
</Layout>


<script>
   (function styleLink  () {
      let l = document.querySelector("[data-name='accueil']") as HTMLElement
      l.style = `
        text-decoration: orangered;
        cursor: pointer;
        color:black;
        text-decoration-line: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 0.2rem; 
        user-select: none;
      `
      

   })()
</script>