---
import Layout from "../layouts/Layout.astro";
import HeroMassage from "../components/HeroOther.astro";
import ContactezMoi from "../widgets/ButtonOrangeRedMail.astro";
import RightOrangeFoliage from "../widgets/RightOrangeFoliage.astro";
import LeftAndRightFoliage from "../widgets/LeftAndRightFoliage.astro";
---

<Layout>
  <div>
    <HeroMassage titre="SÉANCES" />
  </div>

  <div class="first-content" style="margin-top:1rem">
    <div class="wrapimage">
      <img
        src="/assets/index/08_illustre_min.jpg"
        style="transform: scale(0.9)"
      />
    </div>
    <div class="wrapcomment">
      <div class="titre">SÉANCE D'HYPNOSE</div>
      <div class="comment">
        <p>
          Saviez-vous qu’en hypnose Ericksonienne nous pensons que nous avons
          toutes les ressources en nous pour évoluer et mettre en place les
          changements désirés ?
        </p>
        <p>
          En cabinet ou à distance, nous commençons par déterminer ensemble
          votre objectif de changement. Cette étape peut parfois prendre un peu
          de temps. Puis, quand nous décidons ensemble que c’est le bon moment,
          je vous guide dans l&#39;expérience hypnotique.
        </p>
        <p>
          Il n'est pas nécessaire d'entrer dans une transe très profonde pour
          accéder à vos ressources inconscientes, parfois un simple état proche
          de la rêverie suffit. Quoiqu’il en soit, vous gardez le contrôle
          pendant toute la séance. Je vous accompagne mais c’est vous qui faites
          la séance.
        </p>
      </div>
      <div class="contactezmoi">
        <ContactezMoi>CONTACTEZ-MOI</ContactezMoi>
      </div>
    </div>
  </div>
  <div
    style="transform:scale(0.76);position:relative;right:1rem;"
    class="foliage"
  >
    <LeftAndRightFoliage />
    <div class="citation">
      « Ce qu’on voit du monde n’est pas le monde mais celui créé par notre
      cerveau.» Corinne Sombrun
    </div>
  </div>

  <div class="second-content">
    <div class="wrapimage">
      <img
        src="/assets/index/09_illustre_min.jpg"
        style="transform: scale(0.9)"
      />
    </div>
    <div class="wrapcomment">
      <div class="titre">SÉANCE SOIN ÉNERGÉTIQUES</div>
      <div class="comment">
        <p>
          En agissant sur l&#39;harmonisation de nos énergies, nous améliorons
          notre état d&#39;être. Ici, vous n’avez rien à faire, juste à vous
          laisser porter et à ressentir.
        </p>
        <p>
          En cabinet, vous êtes habillé sur la table de massage et, en me
          reliant à un autre état de conscience, je place mes mains sur le corps
          (ou au-dessus) avec l'intention d'harmoniser les corps subtils et les
          chakras.
        </p>
        <p>
          Dès la première séance, vous ressentez une grande détente physique,
          les douleurs disparaissent et l&#39;esprit s&#39;apaise. Et ce bien
          être s&#39;installe durablement au fur et à mesure des séances. (Vous
          pouvez laisser 2 à 3 semaines entre deux soins.)
        </p>
      </div>
      <div class="contactezmoi" style="height:5rem;margin:bottom:3rem">
        <ContactezMoi>CONTACTEZ-MOI</ContactezMoi>
      </div>
    </div>
  </div>

  <style>
    p {
      text-align: justify;
      word-spacing: -2px;
    }

    .wrapimage {
      max-width: 320px;
    }

    .titre {
      font-family: Segoe UI;
      font-style: normal;
      margin-top: 2rem;
      font-size: 24px;
      letter-spacing: 0.1rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    .comment {
      position: relative;
    }

    .comment > p {
      font-size: 1.1rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      background: white;
      font-weight: 400;
      color: #2c2c5f;
      margin-bottom: 1rem;
    }

    .contactezmoi {
      margin-top: 3rem;
    }

    .citation {
      font-size: 1.75rem;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      background: white;
      font-weight: 400;
      color: #2c2c5f;
      position: relative;
      font-style: italic;
      margin-bottom: 3rem;
      text-align: center;
    }
    @media screen and (width <= 640px) and (width < 1080px) {
      .first-content {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .comment {
        padding-right: 1rem;
        padding-left: 1rem;
        width: 95vw;
      }
      .second-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
      }
    }

    @media screen and (width > 640px) and (width <= 1080px) {
      .comment {
        padding: 2rem;
        width: 90%;
        margin: auto;
      }

      .first-content .wrapimage {
        padding: 0rem;
        max-width: 320px;
        margin: 0 auto;
        margin-top: 2rem;
      }

      .second-content .wrapimage {
        padding: 0rem;
        max-width: 320px;
        margin: 0 auto;
      }
    }

    @media screen and (width > 1080px) {
      .first-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

      .first-content .wrapimage {
        flex-shrink: 0;
        flex: 0.5;
      }

      .first-content .wrapcomment {
        flex-shrink: 0;
        flex: 0.5;
      }

      .second-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

      .second-content .wrapimage {
        flex-shrink: 0;
        flex: 0.5;
      }

      .second-content .wrapcomment {
        flex-shrink: 0;
        flex: 0.5;
      }

      p {
        text-align: justify;
        word-spacing: -2px;
        padding-right: 4rem;
      }
    }
  </style>

  <script>
    (function styleLink() {
      let link = document.querySelector("[data-name='seances']") as HTMLElement;
      link.setAttribute(
        "style",
        `
         text-decoration: orangered;
         cursor: pointer;
         color:black;
         text-decoration-line: underline;
         text-underline-offset: 5px;
         text-decoration-thickness: 0.2rem; 
         user-select: none;`
      );
    })();
  </script>

  <script>
    document.querySelectorAll(".contactezmoi")?.forEach((e) => {
      e.addEventListener("click", (e) => {
        e.preventDefault();
        globalThis.sendMail();
      });
    });
  </script>
</Layout>
