---
import Layout from "../layouts/Layout.astro";
import HeroMassage from "../components/HeroOther.astro";
import ContactezMoi from "../widgets/ButtonOrangeRed.astro";
import RightOrangeFoliage from "../widgets/RightOrangeFoliage.astro";
---


<Layout>
  <div class="container mt-16">
    <HeroMassage titre="SÉANCES" />
  </div>

  <section class="first-content">
    <div style="margin-top:3rem;">
      <img src="/assets/index/imposemainsfreeze.png" width="100%" />
    </div>
    <div>
      <div class="comment">
        <div class="head">SÉANCE D'HYPNOSE</div>
        <p>
          Saviez-vous qu’en hypnose Ericksonienne nous pensons que nous avons
          toutes les ressources en nous pour évoluer et mettre en place les
          changements désirés ?
        </p>
        <p>
          En cabinet ou à distance, nous commençons par déterminer votre
          objectif de changement. Parfois rien que cette étape peut prendre un
          peu de temps. Puis, quand c’est le moment, je vous guide dans
          l'expérience hypnotique.
        </p>
        <p>
          Il n'est pas nécessaire d'entrer dans une transe très profonde pour
          accéder à vos ressources inconscientes, parfois un simple état proche
          de la rêverie suffit.
        </p>
        <p>
          Quoiqu’il en soit, vous gardez le contrôle pendant toute la séance. Je
          vous accompagne mais c’est vous qui faite la séance.
        </p>
      </div>
      <div style="width:150px;margin-top:6rem;">
        <ContactezMoi>CONTACTEZ-MOI</ContactezMoi>
      </div>
    </div>
  </section>
  <RightOrangeFoliage />
  <section class="second-content">
    <div>
      <div class="comment">
        <div class="head">SÉANCE SOIN ÉNERGÉTIQUES</div>
        <p>
          En agissant sur l'harmonisation de nos énergies, nous améliorons notre
          état d'être. Ici, vous n’avez rien à faire, qu’à ressentir.
        </p>
        <p>
          En cabinet, vous êtes habillé sur la table de massage et, en me
          reliant à un autre état de conscience, je place mes mains sur le corps
          (ou au-dessus) avec l'intention d'harmoniser les corps subtils et les
          chakras. Dès la première séance, la personne ressent une grande
          détente physique, les douleurs disparaissent et l'esprit s'apaise. Et
          ce bien être s'installe durablement au fur et à mesure des séances.
        </p>
        <p style="font-weight:bold">
          "Je pense 99 fois et ne trouve rien. J'arrête de penser, je nage dans
          le silence, et la vérité vient à moi. » Einstein
        </p>
      </div>
      <div style="width:150px;margin-top:6rem;">
        <ContactezMoi>CONTACTEZ-MOI</ContactezMoi>
      </div>
    </div>
    <div style="margin-top:3rem">
      <img src="/assets/index/maincoeurblob.png"  class="width:100%"/>
    </div>
  </section>
</Layout>
  <style>
    .first-content {
      display: flex;
      justify-content: space-around;
      gap: 1rem;
    }

    .second-content {
      display: flex;
      justify-content: space-around;
    }

    img {
      transform: scale(0.89);
    }

    .comment {
      font-size: 1.3rem;
      font-family: Tenor;
      font-style: italic;
      background: white;
      color: #2c2c5f;
      margin-right: 2rem;
      position: relative;
      top: 3rem;
    }

    .comment > p {
      max-width: 720px;
      margin-bottom: 1rem;
    }

    .head {
      font-family: "Segoe UI";
      font-style: normal;
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: 24px;
      letter-spacing: 0.2rem;
    }

    .backimg {
      background-image: url("/assets/index/orangeblob.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
    }
  </style>

  <script>
    (function styleLink() {
      let link = document.querySelector("[data-name='seances']") as HTMLElement;
      link.setAttribute(
        "style",
        `
         text-decoration: orangered;
         cursor: pointer;
         color:black;
         text-decoration-line: underline;
         text-underline-offset: 5px;
         text-decoration-thickness: 0.2rem; 
         user-select: none;`
      );
    })();
  </script>

