---
import RdvsButtonFooter from "../widgets/RdvsButtonFooter.astro";
import Righty from "../widgets/Righty.astro";
import Social from "../components/Social.astro";
import Wave from "../widgets/Wave.astro";
import TelephoneSticky from "../widgets/TelephoneSticky.astro";
---

<div class="myfooter">
  <div class="wave"><Wave /></div>
  <div class="left" style="width:100%;margin:0 auto;">
    <div>LEFT</div>
  </div>
  <div>
    <div id="contact" class="center"><RdvsButtonFooter /></div>
  </div>
  <div class="right" style="width:100%">
    <div>RIGHT</div>
  </div>
</div>

<style>
  .myfooter {
    height: 13rem;
    display:flex;
    align-items: center;
    gap:0
  }

  .left  {
    display: flex;
    justify-content: space-evenly;
  }

  .right {
    display: flex;
    justify-content: space-evenly;
  }

  .wave {
    display: block;
    height: 13rem;
    position: absolute;
    z-index: -1;
    width: 100vw;
  }

 
  .foliage {
    transform: rotate(190deg) translateY(0.5rem) translateX(-2rem) scale(0.87);
    position: absolute;
    z-index: -1;
  }

</style>

<script>
  document.getElementById("contact")?.addEventListener("click", (e) => {
    e.preventDefault();
    globalThis.sendMail();
  });
</script>
