---
import RdvsButtonFooter from "../widgets/RdvsButtonFooter.astro";
import Righty from "../widgets/Righty.astro";
import Social from "../components/Social.astro";
import Wave from "../widgets/Wave.astro";
import TelephoneSticky from "../widgets/TelephoneSticky.astro";
---

<div class="myfooter">
  <div style="position:absolute;right:13rem;">
    <Social />
  </div>
  <div style="position:absolute; bottom:2rem;">
    <TelephoneSticky />
  </div>
  <div class="wave"><Wave /></div>

  <div>
    <div class="center navfooter">
      <div id="contact">
        <RdvsButtonFooter />
      </div>

      <div class="links">
        <a>ACCUEIL</a>
        <a>À PROPOS</a>
        <a>SÉANCES</a>
        <a>TARIFS</a>
        <a>CONTACTS</a>
      </div>
    </div>
  </div>

  <style>
    .navfooter {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: white;
      position: relative;
      top:-1rem;
    }
    .links {
      margin-top:0.5rem;
      font-size:0.95rem;
    }
    .myfooter {
      height: 16rem;
      display: flex;
      align-items: center;
      gap: 0;
      background-color: transparent;
      justify-content: space-around;
      position: relative;
      margin-top: 10rem;
    }

    .left {
      display: flex;
      justify-content: space-evenly;
    }

    .right {
      display: flex;
      justify-content: space-evenly;
    }

    .wave {
      display: block;
      height: 16rem;
      position: absolute;
      z-index: -1;
      width: 100vw;
    }

    .foliage {
      transform: rotate(190deg) translateY(0.5rem) translateX(-2rem) scale(0.87);
      position: absolute;
      z-index: -1;
    }
  </style>

  <script>
    document.getElementById("contact")?.addEventListener("click", (e) => {
      e.preventDefault();
      globalThis.sendMail();
    });
  </script>
</div>
