<div class="certificats">
 <div>
    <button id="prev">PREV</button>
 </div>
  <div id="slider" class="swipe">
    <div class="swipe-wrap">
      <div>
        <img src="/assets/index/cert0.png" />
      </div>
      <div>
        <img src="/assets/index/cert1.png" />
      </div>
      <div>
        <img src="/assets/index/cert2.png" />
      </div>
      <div>
        <img
          src="/assets/index/cert3.webp"
          style="transform:scale(0.5);position:relative;top:-12rem;"
        />
      </div>
    </div>
  </div>
  <div>
    <button id="next">NEXT</button>
 </div>
</div>

<style>

 .certificats {
    display: flex;
    align-items: center;
    max-width: 640px;
    margin: 0 auto;
    background:beige;
    height: 420px;
    margin-bottom: 3rem;
    gap: 1rem;
 }

  #slider {
    max-width: 630px;
    height: 420px;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    top: 1.6rem;
 
  }
  .swipe {
    overflow: hidden;
    visibility: hidden;
  
  }
  .swipe-wrap {
    overflow: hidden;
   
  }
  .swipe-wrap > div {
    float: left;
    position: relative;
    overflow: hidden;
   
  }

</style>

<script>
  import Swipe from "swipejs";
  window["swipe"] = new Swipe(
    document.getElementById("slider") as HTMLElement,
    {
      startSlide: 0,
      speed: 400,
      draggable: true,
      auto: 1000,
      continuous: true,
      disableScroll: false,
      stopPropagation: false,
      ignore: ".scroller",
      callback: function (index, elem, dir) {},
      transitionEnd: function (index, elem) {},
    }
  );
</script>


<script>
    const prev = document.getElementById("prev") as Element;
    const next = document.getElementById("next");
    prev.addEventListener("click", () => {
      window["swipe"].prev();
    })
    next?.addEventListener("click", () => {
      window["swipe"].next();
    })
</script>
