<div class="certificats">
  <div>
    <button id="prev">
      <i class="arrow left"></i>
    </button>
  </div>
  <div id="slider" class="swipe">
    <div class="swipe-wrap">
      <div>
        <img src="/assets/index/cert0.png" data-name="cert0.png" />
      </div>
      <div>
        <img src="/assets/index/cert1.png" data-name="cert1.png" />
      </div>
      <div>
        <img src="/assets/index/cert2.png" data-name="cert2.png" />
      </div>
      <div>
        <img
          src="/assets/index/cert3.webp"
          style="transform:scale(0.5);position:relative;top:-12rem;"
          data-name="cert3.webp"
        />
      </div>
      <div>
        <img src="/assets/index/certf04.png" data-name="certf04.png" />
      </div>
      <div>
        <img src="/assets/index/certif05.png" data-name="certif05.png" />
      </div>
      <div>
        <img
          src="/assets/index/certif06.png"
          style="transform:scale(0.65);position:relative;top:-12rem;"
          data-name="certif06.png"
        />
      </div>
      <div>
        <img src="/assets/index/certif07.jpeg" data-name="certif07.jpeg" />
      </div>
    </div>
  </div>
  <div>
    <button id="next">
      <i class="arrow right"></i>
    </button>
  </div>
</div>

<style>
  .certificats {
    display: flex;
    align-items: center;
    max-width: 640px;
    margin: 0 auto;

    height: 420px;
    margin-bottom: 4rem;
    gap: 1rem;
  }

  #slider {
    max-width: 630px;
    height: 420px;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    top: 1.6rem;
    right:0.5rem;
  }

  #slider img {
    position: relative;
  }

  .swipe {
    overflow: hidden;
    visibility: hidden;
  }
  .swipe-wrap {
    overflow: hidden;
  }
  .swipe-wrap > div {
    float: left;
    position: relative;
    overflow: hidden;
  }

  .arrow {
    border: solid rgb(0, 2, 11);
    border-width: 0 3px 3px 0;
    border-radius: 15%;
    display: inline-block;
    padding: 3px;
    position: relative;
    top: 1rem;
  }

  .right {
    transform: rotate(-45deg) scale(2);
    -webkit-transform: rotate(-45deg) scale(2);
  }

  .left {
    font-size: 2rem;
    transform: rotate(135deg) scale(2);
    -webkit-transform: rotate(135deg) scale(2);
  }

  @media screen and (width <= 430px) {
    .arrow {
      display: none;
    }
  }
</style>

<script>
  import Swipe from "swipejs";

  function startSlide() {
    window["swipe"] = new Swipe(
      document.getElementById("slider") as HTMLElement,
      {
        startSlide: 0,
        speed: 400,
        draggable: true,
        auto: 1000,
        continuous: true,
        disableScroll: false,
        stopPropagation: false,
        ignore: ".scroller",
        callback: function (index, elem, dir) {},
        transitionEnd: function (index, elem) {},
      }
    );
  }

    startSlide();
   
</script>

<script>
  const lightbox = document.getElementById("lightbox") as HTMLElement;
  const prev = document.getElementById("prev") as Element;
  const next = document.getElementById("next");
  prev.addEventListener("click", () => {
    window["swipe"].prev();
  });
  next?.addEventListener("click", () => {
    window["swipe"].next();
  });
  const swiper = document.querySelector(".swipe");
  swiper?.addEventListener("click", function (e) {
    const target = e.target as HTMLElement;
    if (target.tagName == "IMG") {
    }
  });
</script>

<script>
  let swipewrap = document.querySelector(".swipe-wrap") as HTMLElement;
  swipewrap.addEventListener("click", function (e) {
    const target = e.target as HTMLElement;
    if (target.tagName === "IMG") {
      const img = target as HTMLImageElement;
      globalThis.openModal(img.dataset.name);
    }
  });
</script>
