---
import ContactezMoi from "../widgets/ButtonOrangeRed.astro";
---

<div class="infopanel">
  <div class="title">
    <div>HYPNOLOGUE</div>
    <div></div>
    ET PRATICIENNE EN SOINS ÉNERGÉTIQUES
    <div>À PARIS</div>
  </div>
  <p class="content">
    Certifiée Maître praticienne en hypnose Ericksonienne par l'Académie de la
    Recherche et Connaissance de l'Hypnose Ericksonienne (Arche - Paris).
    <br />
    Je suis également énergéticienne.
  </p>
  <div style="font-style:normal">
    <ContactezMoi>CONTACTEZ-MOI</ContactezMoi>
  </div>
</div>

<style>
  .infopanel {
    font-family: "Segoe UI";
    font-weight: 400;
    background: white;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #2c2c5f;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.85);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    z-index: 1;

  }

  .content {
    max-width: 60%;
    margin: 0 auto;
    font-size: clamp(1.1rem, 2.5vw, 1.3rem);
    text-align: center;
    
  }

  .title {
    color: #f05907;
    font-family: "Tenor";
    margin: 0 auto;
    font-weight: 600;
    text-align: center;
    font-size: clamp(1.1rem, 3vw, 2rem);
  }

  @media screen and (max-width: 380px) {
    .infopanel {
      position: relative;
      top: 103px;
      border-radius: 0px;
      margin: 0;
      background-color: white;
      opacity: 0.95;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 650px) {
    .infopanel {
      margin: 0.2rem;
      margin-top: 1.5rem;
    }
  }
</style>
