---
import Contactezmoi from "../widgets/Contactezmoi.astro";
---

<div class="infopanel">
    <div class="title text-2xl mt-5  mb-3">
        <div>HYPNOTHÉRAPEUTE</div>
        <div>ERICKSONNIENNE</div>
    </div>
    <p class="p-4 mb-6 text-xl ">
        Certifiée praticienne en hypnose Ericksonienne par
        l'Académie pour la Recherche et la Connaissance
        de l'Hypnose Ericksonienne (l'Arche - Paris 20e), je
        suis également initiée à plusieurs techniques de
        soins énergétiques et au Reiki.
    </p>
   
        <Contactezmoi></Contactezmoi>
    
   
</div>

<style>
    .infopanel {
        text-align: center;
        font-size: 20px;
        font-family: Tenor;
        background: white;
        width:500px;
        margin: 0 auto;
        height: 400px;
        
    }

    .title {
        color: orangered;
        letter-spacing: 0.25em;

    }
</style>