---
import ContactezMoi from "../widgets/ButtonOrangeRedMail.astro";
---


<div class="infopanel">
 
    <div class="name title0">Francoise LEFEUVRE </div>
    <div class="title">Maître praticienne en hypnose ericksonienne</div>
     <div class="ampersand">&</div>
     <div class="subtitle">Praticienne en soins énergétiques</div>
    <div class="lieu">À Paris et à distance</div>
  
</div>


<style>
  .infopanel {
    font-family: "Segoe UI";
    font-weight: 400;
    font-size: 2rem;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: -0.9rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin: 0 auto;
    padding: 2rem;
    padding-top:1rem;
    color: #2c2c5f;
    background: rgba(255, 255, 255);
    opacity: 80%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    z-index: 1;
  }

  .lieu {
    padding-top:1rem;
    font-size: 1.415rem;
   
     text-align:center;
     color: #f05907;
  }

  .ampersand {
    padding-top:1rem;
    font-size: 1.59rem;

     text-align:center;
     color: #f05907;
  }

  .name {
    padding:1rem;
  }

  .content {
    max-width: 90%;
    margin: 0 auto;
    font-size: clamp(1rem, 2.5vw, 1.3rem);
    text-align: center;
    
  }

  .title0 {
    color: #f05907;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    font-size: clamp(3rem, 2vw, 3.5rem);
  }

  .title {
    color: #f05907;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    font-size: clamp(2rem, 1.3vw, 2.5rem);
  }

  .subtitle {
    color: #f05907;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    text-align: center;
    font-size: clamp(1.63rem, 1.3vw, 1.98rem);
  }

  @media (width <= 390px) {
    .infopanel {
      position: relative;
      border-radius: 0px;
      background-color: white;
      opacity: 0.9;
      height: 50%;
      margin: 0 auto;
      width: 90%;
      max-width: 99% !important;
      top: -1rem;
      height: 70%;
    }
  }

  @media (width > 390px width <= 700px) {
    .infopanel {
      position: relative;
      border-radius: 0px;
      opacity: 0.9;
      height: 50%;
      margin: 0 auto;
      width: 90%;
      max-width: 99% !important;
      top: -0.9rem;
      height: 65%;
      color: red;
    }
  }
</style>

<script>
  document.getElementById("contactInfo")?.addEventListener("click", (e) => {
    e.preventDefault();
    globalThis.sendMail();
  });
</script>
