---
import ContactezMoi from "../widgets/ButtonOrangeRed.astro";
---

<div class="infopanel">
  <div class="title">
    <div>HYPNOLOGUE</div>
    <div></div>
    ET PRATICIENNE EN SOINS ÉNERGÉTIQUES
    <div>À PARIS</div>
  </div>
  <p class="content">
    Certifiée Maître praticienne en hypnose Ericksonienne par l'Académie de la
    Recherche et Connaissance de l'Hypnose Ericksonienne (Arche - Paris).
    <br />
    Je suis également énergéticienne.
  </p>
  <div style="font-style:normal" id="contactInfo">
    <ContactezMoi>CONTACTEZ-MOI</ContactezMoi>
  </div>
</div>

<style>
  .infopanel {
    font-family: "Segoe UI";
    font-weight: 400;
    font-size: 2rem;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    top: -0.9rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #2c2c5f;
    background: rgba(255, 255, 255, 0.69);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    z-index: 1;
   
  }

  .content {
    max-width: 90%;
    margin: 0 auto;
    font-size: clamp(1rem, 2.5vw, 1.3rem);
    text-align: center;
  }

  .title {
    color: #f05907;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    font-weight: 600;
    text-align: center;
    font-size: clamp(1rem, 3vw, 1.5rem);
  }

  @media (width <= 390px) {
    .infopanel {
      position: relative;
      border-radius: 0px;
      background-color: white;
      opacity: 0.9;
      height:50%;
      margin: 0 auto;
      width: 90%;
      max-width: 99% !important;
      top:-1rem;
      height:70%;
    }
  }

  @media (width > 390px  width <= 700px) {
    .infopanel {
      position: relative;
      border-radius: 0px;
      opacity: 0.9;
      height:50%;
      margin: 0 auto;
      width: 90%;
      max-width: 99% !important;
      top:-0.9rem;
      height:65%;
      color: red;
    }
    
  }

</style>

<script>
  document.getElementById("contactInfo")?.addEventListener("click", (e) => {
    e.preventDefault();
    globalThis.sendMail();
  });
</script>