---
import RdvsButton from "../widgets/RdvsButton.astro";
---
<header>
    <nav>
        <ul id="menu" data-status="hidden" class="duration-500 items-center bg-white  flex  relative w-full flex-col gap-2 justify-between mt-[-850px] md:mt-[0]  md:flex-row mx-auto md:w-[100%]">
            <li > 
                <a data-name="accueil" href="/">ACCUEIL</a>
            </li>
            <li>
                <a data-name="apropos" href="/apropos">A PROPOS</a>
            </li>
            <li>
                <a data-name="seances" href="/seances">SÉANCES</a>  
            </li>    
            <li>
                <a data-name="temoignages" href="/temoignages">TÉMOIGNAGES</a>  
            </li>      
            <li>
                <a data-name="tarifs" href="/tarifs">TARIFS</a> 
            </li>   
            <li>
                <a data-name="letsgo" href="/letsgo">LET'S GO</a> 
            </li> 
            <li>
                <a data-name="contacts" href="/contacts">CONTACTS</a> 
            </li>
            <li>
               <RdvsButton></RdvsButton>
            </li>                                                    
        </ul>
        <div id="togglemenu" class= "md:hidden font-bold font text-lg mt-2" style="cursor:pointer">
            <ion-icon name="menu" class="text-3xl text-orange-500"></ion-icon>
        </div>
    </nav>

</header>

<style>
    

  
</style>

<script>
    function toggleMenu () {
        let m = document.getElementById("menu");
        let icon =   document?.querySelector("ion-icon");
        if (!m) return;
        let status = m.dataset.status;
        m.dataset.status = status == "hidden" ? "visible" : "hidden"
        if (m.dataset.status == "hidden") {
            m.style.marginTop = "-850px"
           icon && icon.setAttribute("name", "menu") 
        }
        else {
            m.style.marginTop = "500px"
           icon && icon.setAttribute("name", "close")
        }
        
       
    }
    document.getElementById("togglemenu")?.addEventListener("click", toggleMenu)
</script>