<div id="modal" class="modal">
  <img class="modal-content" id="imgmodal" />
</div>

<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myImg:hover {
    opacity: 0.7;
  }


  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.59); 
  }


  .modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 1024px;
  }


  .modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(0);
    }
    to {
      -webkit-transform: scale(1);
    }
  }

  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }


  @media only screen and (max-width: 700px) {
    .modal-content {
      width: 100%;
    }
  }
</style>

<script>
  const modal = document.getElementById("modal") as HTMLElement;
  const modalImg = document.getElementById("imgmodal") as HTMLImageElement;

  modal.onclick = function () {
    const self = this as HTMLElement;
    self.style.display = "none";
  };

  function getPathImage(src) {
    return `/assets/index/${src}`;
  }

  globalThis.openModal = function (src) {
    modal.style.display = "block";
    modalImg.src = getPathImage(src);
  };
</script>
