---
import RdvsButton from "../widgets/RdvsButton.astro";


---
<header class="flex items-center bg-white justify-center">
    <nav class="fixed h-12 flex justify-between w-full items-center sm:top-[-60px] md:h-[60px] shadow-md z-10">
        <ul id="menu" data-status="hidden" class="duration-500 items-center bg-white  flex  relative w-full flex-col gap-2 justify-around mt-[-850px] md:mt-[0]  md:flex-row mx-auto md:w-[100%]">
            <li>
                &nbsp;
            </li>
            <li > 
                <a data-name="accueil" href="/">ACCUEIL</a>
            </li>
            <li>
                <a href="/apropos">A PROPOS</a>
            </li>
            <li>
                <a href="/seances">SÉANCES</a>  
            </li>    
            <li>
                <a href="/temoignages">TÉMOIGNAGES</a>  
            </li>      
            <li>
                <a href="/tarifs">TARIFS</a> 
            </li>   
            <li>
                <a href="/letsgo">LET'S GO</a> 
            </li> 
            <li>
                <a href="/contacts">CONTACTS</a> 
            </li>
            <li>
                <RdvsButton></RdvsButton>
            </li>    
            <li>
               
            </li>                                                  
        </ul>
        <div id="togglemenu" class= "md:hidden font-bold font text-lg mt-2" style="cursor:pointer">
            <ion-icon name="menu" class="text-3xl text-orange-500"></ion-icon>
        </div>
    </nav>

</header>

<style>
    
    nav {
        font-size: 17px;
        height: 90px; 
        font-family: Tenor;
        margin-top: 60px;
        background: white;
        
    }

    nav ul li:hover {
        text-decoration: orangered;
        cursor: pointer;
        color:black;
        text-decoration-line: underline;
        text-underline-offset: 5px;
        text-decoration-thickness: 0.2rem; 
        user-select: none;
    }
 
    #togglemenu {
        position: absolute;
        right: 10px;
    }

    li {
        white-space: nowrap;
    }

    @media(max-width:760px) {
        li {
            margin-bottom: 25px;
        }
    }
    @media(max-width:767px) {
        nav {
            top: -60px;
           
            height: 55px !important;
        }
    }

   a.selected {
    color:#F2F2F2;
}
  
</style>

<script>
    function toggleMenu () {
        let m = document.getElementById("menu");
        let icon =   document?.querySelector("ion-icon");
        if (!m) return;
        let status = m.dataset.status;
        m.dataset.status = status == "hidden" ? "visible" : "hidden"
        if (m.dataset.status == "hidden") {
            m.style.marginTop = "-850px"
           icon && icon.setAttribute("name", "menu") 
        }
        else {
            m.style.marginTop = "500px"
           icon && icon.setAttribute("name", "close")
        }
        
       
    }
    document.getElementById("togglemenu")?.addEventListener("click", toggleMenu)
</script>