<div class="containercertif">
  <div
    style="flex:1;display:flex;justify-content:space-around;margin-top:2rem;"
  >
    <img
      src="/assets/index/10-portrait_min.jpg"
      style="transform: scale(0.69);"
    />
  </div>
  <div style="flex:1;" class="infocertif">
    <div>
      <h1 class="titlecertif">CERTIFICATS</h1>
      <div class="handwriting">Francoise Lefeuvre</div>
    </div>
    <div class="wrapcomment">
      <p class="comment">
        Françoise Lefeuvre est Adhérente au Syndicat SNPER (Syndicat National
        des Praticiens et Enseignants REIKI) et au SDMH (syndicat des métiers de
        l'hypnose).
      </p>
      <br />
      <p class="comment">Pour accéder aux codes de déontologie cliquez ici :</p>
      <br />
      <div class="logosyndic">
        <a href="https://syndicat-hypnose.com/charte-ethique/">
          <img src="/assets/index/logosyndicat.png" />
        </a>
        <a href="https://www.snper.org/termes-et-conditions-charte/" style="transform: scale(0.78);">
          <img
            src="/assets/index/logosyndicat-round.jpg"
            style="width:15%;min-width:130px"
          />
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  .containercertif {
    position: relative;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  .containercertif img {
    width: 20rem;
    max-width: 342px;
  }
  .handwriting {
    font-family: Allura;
    font-size: 1.6rem;
    color: #f05907;
    position: relative;
    top: -1.7rem;
    left: 6rem;
  }
  .titlecertif {
    font-family: "Segoe UI";
    font-style: normal;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: #2c2c5f;
  }

  .wrapcomment {
    margin-right: 3rem;
  }
  .comment {
    margin-bottom: 30px;
    background: white;
    color: #2c2c5f;
    margin: 0 auto;
    font-size: 1.1rem;
    font-family: "Segoe UI";
    font-weight: 400;
  }

  .logosyndic {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:3rem;
  }

  .logosyndic a {
   
  }

  @media screen and (width <= 430px) {
    .wrapcomment {
      margin-right: 0;
    }

    .logosyndic {
      width: 99vw;
      margin: 0 auto;
      position: relative;
      right: 3rem;
      transform: scale(0.75);
    }
  }

  @media screen and (max-width: 1023px) {
    .containercertif {
      flex-direction: column;
      margin-top: 18rem;
      margin-bottom: 18rem;
    }

    .infocertif {
      max-width: 70%;
      margin: 0 auto;
      text-align: center;
      padding-left: 0rem !important;
    }
  }
</style>
