<div class="sectionsertificats"></div>

<!-- 
<script>
    import "../js/certificats.js"
</script>
-->

<div class="containercertif">
  <div style="flex:1;display:flex;justify-content:space-around;position:relative;top:5rem">
    <img src="/assets/index/skyseeing-circle.png" />
  </div>
  <div style="flex:1;padding-left:3rem;height:300px">
    <div>
      <h1 class="titlecertif">CERTIFICATS</h1>
      <div class="handwriting">Francoise Lefeuvre</div>
    </div>
    <div>
      <p class="comment">
        Françoise Lefeuvre est Adhérente au Syndicat SNPER (Syndicat National
        des Praticiens et Enseignants REIKI) et au SDMH (syndicat des métiers de
        l'hypnose).
      </p>
      <br />
      <p class="comment">
        Pour accéder aux codes de déontologie cliquez ici :</p>
      <br />
      <div style="display:flex;align-items:center;gap:2rem;">
        <img src="/assets/index/logosyndicat.png" />
        <img
          src="/assets/index/logosyndicat-round.jpg"
          style="width:15%;min-width:130px"
        />
      </div>
    </div>
  </div>
</div>

<style>
  .containercertif {
    position: relative;
    top: 4rem;
    height: 200px;
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-around;
    align-items: center;
  }
  .containercertif img {
    width: 20rem;
    max-width: 342px;
  }
  .handwriting {
    font-family: Allura;
    font-size: 1.6rem;
    color: #f05907;
    position: relative;
    top: -1.7rem;
    left: 6rem;
  }
  .titlecertif {
    font-family: "Segoe UI";
    font-style: normal;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: #2c2c5f;
  }

  .comment {
    margin-bottom: 30px;
    background: white;
    color: #2c2c5f;
    margin: 0 auto;
    font-size: 1.1rem;
    font-family: "Segoe UI";
    font-weight: 400;
  }
</style>
