<div class="wrapper">
  <a href="https://www.facebook.com/IPNOFL">
    <img src="/assets/index/facebook.png" />
  </a>
  <a href="https://www.instagram.com/lefeuvre.francoise/">
    <img src="/assets/index/instagram.png" />
  </a>
</div>


<style>
  .wrapper {
    display: flex;
    gap: 0.5rem;
    position: relative;
    top: 5.9rem;
    left:3rem;
    transform: scale(0.9);
  }
</style>