<div class="wrapright">
  <div class="right">
    <div style="display:flex;justify-content: flex-end;gap:200px">
      <div style="display:flex; gap:20px">
        <div>
            <img src="/assets/index/facebook.png" />
        </div>
        <div>
            <img src="/assets/index/instagram.png" />
        </div>
      </div>
      <div>

      </div>
    </div>
  </div>
</div>

<style>
  .wrapright {
    width: calc(100vw / 3);
    display: flex;
    justify-content: space-around;
    background-image: url("/assets/index/upfoliageorange.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: right;
    position: relative;
  }

  .right {
    position: absolute;
    bottom: 0;
    width: 100%;
   
  }
</style>
