<div class="wrapright">
  <div class="right">
    <div style="display:flex;justify-content: flex-end;gap:150px">
      <div class="buttons">
        <div class="button" onclick="window.location.href='https:\/\/facebook.com'">
            <img src="/assets/index/facebook.png" />
        </div>
        <div class="button">
            <img src="/assets/index/instagram.png" />
        </div>
      </div>
      <div>

      </div>
    </div>
  </div>
</div>

<style>
  .wrapright {
    width: calc(100vw / 3);
    display: flex;
    justify-content: space-around;
    background-image: url("/assets/index/upfoliageorange.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: right;
    position: relative;
  }

  .right {
    position: absolute;
    bottom: 0;
    width: 100%;
   
  }

  .button {
    min-width: 60px;
  }

  .buttons {
    display:flex; gap:10px;
    position: absolute;
    bottom: 20px;
    right:150px;
  }
</style>

