<div class="wrapper">
  <div>
    <img src="/assets/index/facebook.png" />
  </div>
  <div class="button">
    <img src="/assets/index/instagram.png" />
  </div>
</div>


<style>
  .wrapper {
    display: flex;
    gap: 0.5rem;
    position: relative;
    top: 5.9rem;
    left:3rem;
    transform: scale(0.9);
  }
</style>