<div class="page">
  <div class="main">
    <p>
      <ul>
        <li style="margin-bottom:1rem;">
          Je vous accueille toute la semaine à mon cabinet dans le 20ème, prise de RDV <b><a href="https://www.resalib.fr/praticien/37328-francoise-lefeuvre-praticien-en-hypnose-paris#newrdvmodal">ici</a></b>
        </li>  
        <li style="margin-bottom:1rem;">
          Et les lundis au studio MARGA dans le 11ème , Prise de RDV sur le site du Studio ou en me contactant <b><a href="http://localhost:3000/contacts">ici</a></b> 
        </li>
        <li style="margin-bottom:1rem;">
          Je propose également des séances à distance et des séances à domicile.<br />
          Si vous souhaitez des précisions contactez-moi <b><a href="http://localhost:3000/contacts">ici</a></b>
        </li>
      </ul> 
    </p>
    <!-- Contacts -->
    <p style="margin-top:1rem">
   
      <blockquote style="ident">
        Adresse cabinet:<br />
        <div>
          <a
            href="https://www.google.com/maps/place/Fran%C3%A7oise+Lefeuvre+-+Praticienne+en+hypnose+ericksonienne+-+Paris+20/@48.8578636,2.3891272,14.74z/data=!3m1!5s0x47e67209c5ba51e1:0xec23dc7d96a8fe46!4m14!1m7!3m6!1s0x47e67303acd3e371:0xbeb2ab80431345b1!2s%F0%9F%8F%BB%E2%80%8D+%EF%B8%8F+Fran%C3%A7oise+Lefeuvre+-+Praticienne+en+hypnose+ericksonienne+-+Paris+11!8m2!3d48.8546266!4d2.3816881!16s%2Fg%2F11h_wy51b8!3m5!1s0x47e66dca4a7a52f7:0x8f4cb19e271b8d1a!8m2!3d48.8574478!4d2.4000833!16s%2Fg%2F11s8dm_r2j"
            >Cabinet paramédical au 6 rue de Fontarabie 75020</a
          >
        </div>
        <div>Téléphone fixe : +33 1 85 53 82 73</div>
        <div>Téléphone portable : 06 47 49 81 16</div>
        <div>
          Cliquez ici : <span id="contacttarif"
            ><a>email</a><span> pour me contacter par courrier</span>
          </span>
        </div>
      </blockquote>
    </p>

    <!-- Tarifs -->
    
    <div style="border:1px solid black; margin-top:2rem;margin-bottom:2rem; padding-bottom:1rem;">
      <p style="margin-top:1rem">
        <div>Tarifs :</div>
        <blockquote style="ident">
          <div>
            Prix unique  80€ la séance d'hypnose.
          </div>
          <div>80€ le soin énergétique (1h)</div>
          
          <div>
            Possibilité de séances pour les petits budgets.<br />Je vous invite à m'en parler dès la prise de rendez-vous. 
          </div>
        </blockquote>
      </p>

      <p style="margin-top:1rem">
        <div>Tarif à distance* :</div>
        <blockquote style="ident">80€ la séance d'hypnose (1h)</blockquote>
      </p>

      <p style="margin-top:1rem">
        <div>Tarif à domicile * :</div>
        <blockquote style="ident">
          De 100 à 160€ (1h) en fonction du temps de déplacement.
        </blockquote>
      </p>
    </div>

    <div style="margin-bottom:1rem; margin-top:1rem;">
      <div style="font-weight:bold">PRISE EN CHARGE :</div>
       - De plus en plus de mutuelles prennent en charge un partie des séances &nbsp;&nbsp;d'hypnose, surtout celles concernant l'arrêt du tabac.
         <br />&nbsp;&nbsp;Renseignez-vous auprès de votre mutuelle.
      <p>
       - Et aussi possibilité de facilité de paiement, n'hésitez pas à m'en parler.
      </p>
    </div>

    <div style="margin-bottom:1rem;">
      <div style="font-weight:bold">MODES DE RÈGLEMENT</div>
        Espèces ou chèque. Carte bancaire non-acceptée.
    </div>
    
   
    <div style="margin-bottom:1rem;">
      <div style="font-weight:bold">CONDITIONS DE RÉSERVATION</div>
      Une séance non-honorée est une séance qui aurait pu profiter à une autre personne. Si vous souhaitez annuler ou décaler votre séance, merci de le faire 48 heures à l'avance. 
    </div>
  
    <p style="margin-top:1rem">
      <div><em>* Séances payables à l'avance par virement</em></div>
    </p>
    <div style="margin-top:1rem;text-align:center">
      Francoise Lefeuvre - Siret 795 241 546 00014
    </div>
  </div>
</div>

<style>
  .main {
    position: relative;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    font-size: 1.15rem;
    font-family: "Segoe UI";
    font-weight: 400;
    color: rgba(0, 0, 0);
    text-align:center;
    border: 1px solid tan;
    padding: 3rem;
  }
  p {
    text-align: justify !important;
    word-spacing: -2px !important;
  }

  .info {
    text-align: center;
    font-size: 1.1rem;
    font-family: "Segoe UI";
    font-weight: 400;
    color: #2c2c5f;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  #contacttarif {
    cursor: pointer;
  }

  a {
    text-decoration: underline !important;
  }
</style>
<script>
  document.getElementById("contacttarif")?.addEventListener("click", (e) => {
    e.preventDefault();
    globalThis.sendMail();
  });
</script>
