---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Menubar from "../components/Menubar.astro";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import RotateDevice from "../components/RotateDevice.astro";
import ModalCertif from "../components/ModalCertif.astro";
var dev = true;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/globalstyle.css" />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap"
    />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Allura&display=swap"
    />
    <GoogleFontsOptimizer 
      url="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap"
    />
    <script
      type="module"
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.1.2/ionicons/ionicons.esm.js"
    ></script>
    <title>YOGA</title>
  </head>

  <body>
    <div style="width:100vw;margin:0 auto;max-width: 1280px;">
       <Navbar></Navbar>
    </div>

    <div style="max-width: 1280px; margin:0 auto">
      <slot />
    </div>
  
    
    <Footer />


    <ModalCertif />



    <a id="mailer"></a>
    {
      ({ dev } && <script is:inline src="/js/dest.js" />) || (
        <script is:inline src="/js/destobfus.js" />
      )
    }

    {{ dev } && console.log("IN EV")}

    <script is:inline>
      window.sendMail = function (target = "mailer") {
        document
          .getElementById(target)
          ?.setAttribute(
            "href",
            `mailto:${destx()}?subject=demande%20de%20contact`
          );
        document.getElementById(target)?.click();
      };
    </script>
    <script
      src="https://static.elfsight.com/platform/platform.js?onload=test"
      data-use-service-core
      defer></script>
    <div id="bc">
      <div class="elfsight-app-d1095e31-2a31-47b0-9022-67301b69e2cf"></div>
    </div>

    <script>
      const observer = new IntersectionObserver(([e]) => {}, {
        threshold: [1],
      });

      window.onload = function () {
        setTimeout(() => {
          const stickyElm = document.querySelector(".kyAUVn");
          observer.observe(stickyElm);
          stickyElm.style = `
          position: fixed;
          height: 5rem;
          top: calc(100vh - 6.3rem) !important;
          left: -1.5rem;
          z-index:1000;
        `;
        }, 500);
      };
    </script>
  </body>
</html>
