---
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		 <link rel="stylesheet" href="/globalstyle.css">
		<script type="module" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.1.2/ionicons/ionicons.esm.js"></script>
 
		<title>My site</title>
	
	</head>
	<body>
      <Navbar></Navbar>
	  <slot />
	</body>
</html>