<div style="max-width: 380px; margin-left:30px;" class="block">
    <div class="backimg">
        <img
           src="/assets/index/circlecandle.png"
           alt="dame levant les yeux"
        />
     </div>
</div>

 

 <style>
   .backimg {
      background-image: url("/assets/index/vagueorange.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      position: relative;
      left:3.5rem;
   }
   


   img {
    transform: scale(0.9);
    position: relative;
    right:30px;
    top: -15px;
   }

  @media screen and (max-width: 1023px) {
   .backimg {
      background-image:none;
   }
   .block {
      margin-left: 0 !important;
   }

   img {
      max-width: 327px;
   }

  }

 </style>

