<a href="" class="content">
   
        Contactez-moi

</a>


<style>
    .content {
        width:150px;
        bottom: 0;
        margin:0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: orangered;
        color: white;
        padding:5px;
        margin-bottom: 20px;
    }
</style>