

<section style="display:flex; align-items:center; justify-content:space-between">
<div
   class="mb-6 mt-6"
   style="width:50%;height:120px; border-right: 2px solid orange;height:120px">
   &nbsp;
</div>

<img src="/assets/common/bluefoliage.png" alt="" />
</section>