
<div class="foliages">
    <img src="/assets/common/foliageorange.png" alt="" />
    <img src="/assets/common/bluefoliage.png" alt="" />
</div>
   





<style>

    .rightblue {
        position:relative;
        transform: rotate(230deg)  translateX(-40px)  ;
        right:1.5rem; 
    }

    .foliages {
      display: flex;
      justify-content:space-between;
    }
</style>
