<a href="https://www.resalib.fr/praticien/37328-francoise-lefeuvre-praticien-en-hypnose-paris#newrdvmodal">
    <div class="content">
        <div>
            PRENDRE RENDEZ-VOUS
        </div>
    </div>
</a>


<style>
    .content {
       text-align: center;
       background-color: #F05907;
       width:13rem;
       margin:0 auto;
       padding:0.25rem;
    }
</style>