<a href="">
    <div class="content">
        <div style="position: relative;top:2px">
            PRENDRE
        </div>
        <div style="position: relative;top:-2px">
            RENDEZ-VOUS
        </div>
    </div>

</a>


<style>
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #001A5B;
        color: white;
        justify-content: space-around;
        font-size: 0.9rem;;
        height:40px;
        gap:0;
        padding:6px;
        border-radius: 5px;

    }
</style>