<a href="">
    <div class="content">
        <div>
            PRENDRE
        </div>
        <div>
            RENDEZ-VOUS
        </div>
    </div>

</a>


<style>
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: orangered;
        color: white;
        padding:5px;
    }
</style>