<a href="">
  <div class="content">
    <div>
      <a href="tel:+33 1 85 53 82 73">01&nbsp;85&nbsp;53&nbsp;82&nbsp;73</a>
    </div>
  </div>
</a>

<style>
  .content {


    color: white;
    padding: 5px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    position: fixed;
    z-index: 100;
    right: 0;
    display: flex;
    align-items: center;
    background-color: #f05907;
    color: white;
    padding: 5px;
    justify-content: space-around;
    height: 40px;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
  }
</style>
