<a href="">
  <div class="content">
    <div>
      <a href="tel:+33 6 47 49 81 16">06&nbsp;47&nbsp;49&nbsp;81&nbsp;16</a>
    </div>
  </div>
</a>

<style>
  .content {


    color: white;
    padding: 5px;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    position: fixed;
    z-index: 100;
    right: 0;
    display: flex;
    align-items: center;
    background-color: #f05907;
    color: white;
    padding: 5px;
    justify-content: space-around;
    height: 40px;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
  }
</style>
