<a href="">
    <div class="content">
        <div>
           <a href="tel:+33 6 47 49 81 16">06&nbsp;47&nbsp;49&nbsp;81&nbsp;16</a>
        </div>
       
    </div>

</a>


<style>
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F05907;
        color: white;
        padding:5px;
        justify-content: space-around;
        height:40px;
        border-radius: 5px;
        
    }
</style>