<a href="">
    <div class="content">
        <div>
           <a href="tel:+336 85 53 82 73">06&nbsp;85&nbsp;53&nbsp;82&nbsp;73</a>
        </div>
       
    </div>

</a>


<style>
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F05907;
        color: white;
        padding:5px;
        justify-content: space-around;
    
        height:40px;
        
    }
</style>